.search-bar {
  padding: 3rem;
  display: flex;
  align-items: center;
}

form {
  width: 45%;
}

.search-bar input {
  padding: 15px 40%;
  padding-left: 10px;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1rem;
}

.search button {
  padding: 15px 3rem;
  border: none;
  background-color: #bbbfca;
  color: white;
  font-size: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search button:hover {
  background-color: #aeb2bd;
  transform: scale(1.01);
}

.clear {
  flex: 1;
  display: flex;
  justify-content: start;
}

.clear button {
  padding: 15.3px 2rem;
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.clear button:hover {
  transform: scale(1.01);
}

@media (max-width: 1365px) {
  .search {
    width: 100%;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .search-bar input {
    padding: 15px 10%;
  }

  .search {
    width: 85%;
  }
}

@media (max-width: 660px) {
  .search-bar {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem;
    margin-top: rem;
  }

  .search {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .clear button {
    width: 35%;
    margin: auto;
  }

  .clear {
    width: 100%;
  }

  .search-bar input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media (max-width: 420px) {
  .search-bar input {
    padding: 15px 3%;
  }
}
