* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #495464;
  color: #f4f4f2;

  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 100%;
}

.main {
  position: relative;
}
